<div id="app_drawer_underlay" style="display: none" onclick="closeAppDrawer()"></div>
<section id="app_drawer" class="flex-col" style="transform: translateX(100%)">
	<h1>Navigation</h1>
	<ul class="flex-col gap-2">
		{% if let Some(user) = shared.current_user %} {% if user.role == Role::Admin %}
		<li>
			<a href="/admin/users">Manage Users</a>
		</li>
		{% endif %}
		<li>
			<button class="btn" aria-label="enable toggle light/dark mode" onclick="toggleTheme()">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="20"
					height="20"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					style="display: block"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
					/>
				</svg>
			</button>
		</li>
		<li>
			<a href="/members">Members</a>
		</li>
		<li>
			<a href="/upcoming-races">Upcoming Races</a>
		</li>
		<li>
			<a href="/">My Profile</a>
		</li>
		<li>
			<a href="/">Following</a>
		</li>
		<li>
			<button class="link" hx-delete="/auth/signout" hx-swap="none">Sign out</button>
		</li>
		{% else %}
		<li>
			<a href="/auth/google">Login with Google</a>
		</li>
		<li>
			<a href="/members">Members</a>
		</li>
		<li>
			<a href="/upcoming-races">Upcoming Races</a>
		</li>
		{% endif %}
	</ul>
</section>
