<!doctype html>
<html lang="en">
	<head>
		<title>{{ shared.app_info.name }} | Search Members</title>
		<meta name="description" content="Search for members that are registered in CTRunner." />
		<link rel="canonical" href="{{ shared.app_info.website_url }}" />
		{% include "_partials/meta.html" %} {% include "_partials/scripts.html" %}
	</head>
	<body>
		{% include "_partials/navbar.html" %}
		<main>
			<div class="container">
				<section class="card flex-col">
					<h1>Search Members</h1>
					<form>
						<div class="form-control">
							<label for="user_search">Search</label>
							<input
								id="user_search"
								name="q"
								autocomplete="off"
								placeholder="Search for runner..."
								hx-select="#user_list"
								hx-target="#user_list"
								hx-trigger="keyup changed delay:200ms"
								hx-get="/members"
								type="text"
							/>
						</div>
					</form>
					<div id="user_list" class="flex-col gap-2">
						<div class="table-responsive">
							{% if users.items.len() > 0 %}
							<table>
								<thead>
									<tr>
										<th>Member Details</th>
										<th class="text-right">Completed</th>
									</tr>
								</thead>
								<tbody>
									{% for user in users.items %}
									<tr>
										<td>
											<div class="flex nowrap items-center">
												<div class="flex-col items-center gap-1">
													<img
														class="avatar"
														src="{{ user.image_url }}"
														width="48"
														height="48"
														alt="Profile image"
													/>
												</div>
												<div class="flex-col gap-0">
													<div class="flex nowrap items-center gap-1">
														<strong class="line-clamp-2"
															>{{ user.full_name | title }}</strong
														>
														{% if user.role == Role::Admin %}<span
															class="pill admin"
															>Admin</span
														>
														{% endif %} {% if user.role == Role::Royalty
														%}
														<svg
															width="16"
															height="12"
															class="text-royalty"
															viewBox="0 0 16.00281 11.98315"
															fill="currentColor"
															aria-label="Royalty"
														>
															<g
																transform="translate(-56.129481,-77.742796)"
															>
																<g
																	transform="translate(-45.423889,-39.358324)"
																>
																	<path
																		d="m 109.41135,117.10112 -3.42118,4.51264 -4.4368,-2.99578 1.02388,7.09129 h 13.99297 l 0.98596,-7.12922 -4.39888,3.14748 z"
																	/>
																	<path
																		d="m 102.69101,126.96067 0.0379,2.1236 h 13.61377 v -2.16152 z"
																	/>
																</g>
															</g>
														</svg>
														{% endif %} {% if user.locked %}<span
															class="pill"
															>Banned</span
														>{% endif %}
													</div>
													<div>
														{% if let Some(hometown) = user.hometown %}
														{{ hometown }} {% endif %} {% if let
														Some(runner_id) = user.runner_id %}
														<span class="muted">#{{ runner_id }}</span>
														{% endif %}
													</div>
												</div>
											</div>
										</td>
										<td class="text-right">{{ user.completed_towns_count }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="muted text-right text-sm">
							{% if users.total == 1 %} {{ users.total }} user {% else %} {{
							users.total }} users {% endif %}
						</div>
						{% else %}
						<p>No members found.</p>
						{% endif %}
					</div>
				</section>
			</div>
		</main>
		{% include "_partials/footer.html" %}
	</body>
</html>
