:root {
	--foreground: #222;
	--background: #fff;
	--pro-color: #ffdbcf;
	--admin-color: #e0ffc4;
	--nav-bg: var(--background);
	--nav-fg: var(--foreground);
	--nav-hover-bg: #00000010;
	--footer-bg: var(--background);
	--footer-fg: #444;
	--footer-border: 1px solid #00000020;
	--card-bg: var(--background);
	--drawer-bg: var(--background);
	--input-bg: var(--background);
	--accent-color: #0751cf;
	--accent-color-light: #0751cf;
	--accent-color-shadow: #0751cf20;
	--accent-color-active: #0751cf;
	--link: var(--accent-color);
	--muted: #444;
	--default-spacing: 16px;
	--default-border-color: #d1d1d1;
	--default-border-hover-color: #777;
	--default-border: 1px solid var(--default-border-color);
	--underlay: #22222250;
	--pill-border: 1px solid #00000020;
	--table-row-hover: #00000010;
	--transition:
		background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #fff;
		--background: #111216;
		--pro-color: #ffdbcf;
		--admin-color: #e0ffc4;
		--nav-bg: var(--background);
		--nav-fg: var(--foreground);
		--nav-hover-bg: #ffffff15;
		--footer-bg: #000;
		--footer-fg: #888;
		--footer-border: 1px solid #00000020;
		--card-bg: var(--background);
		--drawer-bg: var(--background);
		--input-bg: var(--background);
		---accent-color: #0751cf;
		--accent-color-light: #8ec5ff;
		--accent-color-shadow: #0751cf20;
		--accent-color-active: #0751cf20;
		--accent-color-border: #0541a8;
		--link: var(--accent-color-light);
		--muted: #444;
		--default-spacing: 16px;
		--default-border-color: #ffffff15;
		--default-border-hover-color: #777;
		--default-border: 1px solid var(--default-border-color);
		--underlay: #22222250;
		--pill-border: 1px solid #00000020;
		--table-row-hover: #00000010;
		--transition:
			background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease,
			box-shadow 0.3s ease;
	}
}

* {
	box-sizing: border-box;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.5rem;
	font-size: 1.05rem;
}

html,
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: var(--background);
	color: var(--foreground);
	min-height: 100dvh;
}

h1 {
	font-size: 1.5rem;
	font-weight: 500;
}

.container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 16px;
}

main {
	padding: var(--default-spacing) 0;
	height: 100%;
}

nav#navbar {
	width: 100%;
	background: var(--nav-bg);
	color: var(--nav-fg);
	padding: 8px 0;
	border-bottom: 1px solid var(--default-border-color);
}

nav#navbar h1 {
	margin: 0;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

nav#navbar a {
	color: inherit;
	text-decoration: none;
}

nav#navbar .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav#navbar ul {
	display: flex;
	align-items: center;
	gap: 8px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav#navbar ul li button {
	padding: 6px 8px;
	transition: var(--transition);
}

nav#navbar ul li a {
	display: block;
	padding: 4px 8px;
	transition: var(--transition);
}

nav#navbar ul li button:hover,
nav#navbar ul li a:hover {
	background: var(--nav-hover-bg);
}

nav#navbar h1.brand {
	font-weight: 800;
}

#app_drawer {
	position: fixed;
	top: 0;
	right: 0;
}

img {
	flex-shrink: 0;
}

footer#footer {
	margin-top: auto;
	text-align: center;
	width: 100%;
	color: var(--footer-fg);
	background: var(--footer-bg);
	border-top: var(--footer-border);
	font-size: 0.9rem;
	padding: 8px 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: var(--default-spacing);
}

.grid.cols-2 {
	grid-template-columns: repeat(2, 1fr);
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--default-spacing);
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: var(--default-spacing);
}

.gap-1 {
	gap: 4px;
}

.gap-2 {
	gap: 8px;
}

.gap-0 {
	gap: 0;
}

.w-fit {
	width: fit-content;
}

.items-center {
	align-items: center;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.muted {
	color: var(--muted);
}

p {
	margin: 0;
	padding: 0;
}

.card {
	padding: var(--default-spacing);
	background: var(--card-bg);
	border: 1px solid var(--default-border-color);
	border-radius: 4px;
	transition: var(--transition);
}

.card.hoverable:hover {
	box-shadow: 5px 5px var(--accent-color-shadow);
}

form .form-control,
form .form-control label {
	display: block;
	width: 100%;
}

form .form-control label {
	font-weight: 900;
	margin-bottom: 2px;
}

input[type="checkbox"] {
	width: fit-content;
}

input,
textarea,
select {
	padding: 8px;
	border-radius: 8px;
	border: var(--default-border);
	font-size: inherit;
	width: 100%;
	background: var(--input-bg);
	transition: var(--transition);
}

select:focus,
textarea:focus,
input:focus {
	outline: 0;
	border-color: var(--default-border-hover-color);
}

a:link,
a:visited,
button.link {
	text-decoration: underline;
	color: var(--link);
	padding: 0;
	font-weight: normal;
	border-radius: 4px;
}

button {
	display: inline-block;
	border: 0;
	background: none;
	font-size: inherit;
	padding: 0;
	cursor: pointer;
	font-weight: 900;
}

button.btn {
	padding: 6px 10px;
	transition: var(--transition);
	color: inherit;
	border-radius: 4px;
}

button.outline {
	border: var(--default-border);
}

button.outline-hover {
	border: 1px solid #ffffff00;
}

button.outline:hover,
button.outline-hover:hover {
	border: 1px solid var(--default-border-hover-color);
}

button.info {
	border: var(--pill-border);
	background: var(--accent-color);
	color: var(--info-fg);
	border-bottom: 4px solid var(--accent-color-border);
}

button.info:hover {
	background: var(--accent-color-border);
}

.accent-color {
	color: var(--accent-color-light);
}

.accent-color-bg {
	color: white;
	background: var(--accent-color-active);
}

h1,
h2,
h3 {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 1.75rem;
	line-height: 2.15rem;
}

h2 {
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1.65rem;
}

.desktop-only {
	display: block;
}

/* Mobile Style */
@media (max-width: 768px) {
	.grid.cols-2 {
		grid-template-columns: repeat(1, 1fr);
	}

	.desktop-only {
		display: none;
	}
}
