<!doctype html>
<html lang="en">
	<head>
		<title>{{ shared.app_info.name }} | Homepage</title>
		<meta name="description" content="A template application." />
		<link rel="canonical" href="{{ shared.app_info.website_url }}" />
		{% include "_partials/meta.html" %} {% include "_partials/scripts.html" %}
	</head>
	<body>
		{% include "_partials/navbar.html" %}
		<main>
			<article class="container flex-col">
				<section class="card text-center news header-gradient">
					<div class="mobile-only"><span>News:</span></div>
					<span class="desktop-only inline">News:</span> Something exciting is in the
					works for Run169.
				</section>
				<section class="flex-col text-center" style="margin-top: 24px; margin-bottom: 38px">
					<h1 class="accent-color">The simplest way to track your Run169 progress</h1>
					<p>
						Focus on having fun after your races. We offer the easiest way to track your
						progress through Run169.
					</p>
					<div class="flex justify-center" style="margin-top: 12px">
						<a
							href="/auth/google"
							class="flex items-center gap-2 w-fit btn info"
							style="padding-left: 24px; padding-right: 24px"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								class="bi bi-google"
								viewBox="0 0 16 16"
							>
								<path
									d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"
								/>
							</svg>
							Create Your Account
						</a>
						<a href="/auth/google" class="btn signin">Sign In</a>
					</div>
				</section>
				<div class="grid cols-2">
					<section class="card hoverable">
						<h2 class="accent-color">We Submit Towns for You</h2>
						<p>
							When you create your account, you'll be asked to provide your Run169
							details. Then, once you submit towns on our application we will submit
							the form on your behalf as you finish your races. One less thing for you
							to worry about and remember!
						</p>
					</section>
					<section class="card hoverable">
						<h2 class="accent-color">Add Friends</h2>
						<p>
							You can search and add friends to your Run169 account. This will allow
							you to share your progress with your friends and brag about your
							achievements.
						</p>
					</section>
					<section class="card hoverable">
						<h2 class="accent-color">Save Your Times</h2>
						<p>
							You can save your times for each race you complete. This will allow you
							to track your progress over time and see how you're improving. You can
							also share your times with your friends and compare your progress with
							theirs.
						</p>
					</section>
					<section class="card hoverable">
						<h2 class="accent-color">Find Races and Results</h2>
						<p>
							You can search for races near you or browse through our list of upcoming
							events. This will help you find races that fit your schedule and
							interests. If you ran a race that isn't on our list, you can add it
							yourself!
						</p>
					</section>
					<section class="card hoverable">
						<h2 class="accent-color">Share Your Profile</h2>
						<p>
							Since your profile will have a direct link, you'll be able to view your
							Connecticut Run Map as you make progress towards completing Run169. You
							can share this link with your friends and family to show them your
							progress.
						</p>
					</section>
					<section class="flex-col card accent-color-bg">
						<div>
							<h2 style="font-weight: 800">Open Sourced</h2>
							<p>
								This project is open sourced on GitHub. You can view the code,
								contribute to the project, and even deploy your own instance of the
								app.
							</p>
						</div>
						<a
							class="flex items-center gap-1 w-fit"
							style="margin-top: auto; color: white"
							href="https://github.com/bytebury/connecticut-run"
							target="_blank"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="1em"
								height="1em"
								fill="none"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								viewBox="0 0 24 24"
							>
								<path
									d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.4 5.4 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65S8.93 17.38 9 18v4"
								></path>
								<path d="M9 18c-4.51 2-5-2-7-2"></path>
							</svg>
							View Code on GitHub</a
						>
					</section>
				</div>
			</article>
		</main>
		{% include "_partials/footer.html" %}
	</body>
</html>
