<header>
	<h1>Submit a Town</h1>
</header>
<form id="submit_town_form" hx-put="/submit" hx-select="#submit_town_form">
	<div class="form-control">
		<label for="town_id">Town Name</label>
		<select id="town_id" name="town_id" required>
			<option value="" selected disabled>Please Select...</option>
			{% for town in towns %}
			<option value="{{ town.id }}">{{ town.display_name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-control">
		<label for="race_id">Race Name</label>
		<input type="text" id="race_id" name="race_id" placeholder="Search..." required />
	</div>
	<div class="grid" style="grid-template-columns: 1fr 1fr">
		<div class="form-control">
			<label for="distance_val">Distance</label>
			<input
				type="number"
				id="distance_val"
				name="distance_val"
				inputmode="decimal"
				min="0"
				step="0.001"
				required
			/>
		</div>
		<div class="form-control">
			<label for="distance_unit">Unit</label>
			<select id="distance_unit" name="distance_unit" required>
				<option value="" selected disabled>Please Select...</option>
				<option value="{{ DistanceUnit::Kilometers }}">Kilometers</option>
				<option value="{{ DistanceUnit::Miles }}">Miles</option>
			</select>
		</div>
	</div>
	<div class="form-control">
		<label for="race_date">Date of the Race</label>
		<input type="date" id="race_date" name="race_date" max="{{ max_race_date }}" required />
	</div>
	<div class="form-control">
		<label for="notes">Notes</label>
		<textarea id="notes" name="notes" placeholder="This field is optional..."></textarea>
	</div>
</form>
<div class="form-actions">
	<button form="submit_town_form" type="submit">Submit Town</button>
	<button type="reset" onclick="closeModal()">Close</button>
</div>
