<div id="results" hx-swap-oob="true">
	<ol class="dropdown">
		{% for race in races.items %}
		<li>
			<button
				type="button"
				class="text-left"
				onclick='selectRace(JSON.parse(`{{ race | tojson | safe }}`))'
			>
				<div class="flex-col gap-1">
					<strong>{{ race.name | title }} ({{ race.miles }} miles)</strong>
					<div class="text-sm" style="opacity: 0.8">on {{ race.start_date | date }}</div>
				</div>
			</button>
		</li>
		{% endfor %}
		<li>
			<button type="button" class="text-left" onclick="selectedNoRace()">
				<strong>My race isn't here...</strong>
			</button>
		</li>
	</ol>
	<script>attachDropdown(secondary_questions)</script>
</div>
